/* CSS declarations go here */
html, body { background-color:black; font-family:Times,serif; height:100%; margin:0px; padding:0px; }
.github { color:white; position:absolute; bottom:20px; right:20px; }
.github img { width:50px; vertical-align:middle;}
.github a { color:white; text-decoration:none; }
.big { font-size:2.0em; }

.flip-container {
    perspective: 1000px;
    position:absolute;
    left:50%;
    margin-left:-250px;
    top:50%;
    margin-top:-150px;
    width:500px;
    height: 300px; 
    border:0px solid red; 
}


#card:focus { outline: 0; -webkit-tap-highlight-color:rgba(0,0,0,0); }
#card { 
    cursor: pointer;  
    -webkit-tap-highlight-color:rgba(0,0,0,0); 
    width:100%; 
    height:100%; 
    position:relative; 
    transition:transform 0.6s; 
    transform-style:preserve-3d;
}

#card.flipped {
  transform: rotateY(180deg);
}

#front { z-index: 2; background-color:#333; }

#back { background: white; transform:rotateY(180deg); }

#front, #back {
    position:absolute;
    border-radius:25px;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display:table;
}


#card p { padding:0px; font-size:30px; text-align:center; margin:5px; font-weight:bold;text-align:center; 
  vertical-align: middle;
  display: table-cell;  }
#front p { color:white; }
#back p { color:black; }


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .flip-container {
	  position:absolute;
	  left:15px;
	  top:15px;
	  bottom:15px;
	  right:15px;
	  border:0px solid red; 
	  margin-left:0px;
	  margin-top:0px;
	  width:auto;
	  height:500px;
      }      
      #front, #back {
	  position:absolute;
	  width:100%;
	  height:500px;
	  border-radius:25px;
      }
      .github { position:absolute; right:5px; bottom:5px; }
      .github img { width:30px; }
      body { padding:0px 0px 0px 0px; }
}